*{
    margin:0px;
    padding:0px;
    border:0px;
}

body{
    padding-top: 100px;
}

.navbar-form{
    position:relative;
}

.navbar-inverse button[type = "submit"]{
    position: absolute;
    top: 18%;
    right: 20px;
    background: #fff;
}
img{
    width: 100%;
}

@media(max-width: 768px){
    .navbar-inverse button[type = "submit"]{
        top: 30%;
    }
}